 @import "tailwindcss";
 
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Side scroll rokne ke liye */
  width: 100%;
}

#root {
  width: 100%;
}

.leaflet-marker-icon {
  transition: transform 1.5s linear !important;
}

/* Tracking Dot Animation */
.live-pulse {
  width: 12px;
  height: 12px;
  background: #10b981;
  border-radius: 50%;
  box-shadow: 0 0 0 rgba(16, 185, 129, 0.4);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% { transform: scale(0.95); box-shadow: 0 0 0 0 rgba(16, 185, 129, 0.7); }
  70% { transform: scale(1); box-shadow: 0 0 0 10px rgba(16, 185, 129, 0); }
  100% { transform: scale(0.95); box-shadow: 0 0 0 0 rgba(16, 185, 129, 0); }
}
.map-marker-transition {
  transition: transform 1.5s linear !important;
}